
body{
	font-family: "Arial";
 background-color:orange;
}


 h1 {color: orange;
 	background-color: white;
 	border: 1px dotted white;
 	letter-spacing: 5px;
 }

p {color: white;
	font-weight:bold;
	border: 1px dotted white;
	letter-spacing: 3px;
}

a {background-color: white;
	letter-spacing: 3px;
	

}
 
 
 }

