body{
	background-color: white;
}

#body:hover{
	background-color: orange;
}

h1{
	font-family: helvetica;
	color: white;
	background-color: orange;
	padding: 20px;
}

p1{
	font-family: arial;
	color: orange;
	padding: 10px;
	position: relative;
}